#page-report-attendancetable-index .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*justify-items: center;*/
}

#page-report-attendancetable-index .grid > * {
    outline: 1px solid orange;
    text-align: center;
}

#page-report-attendancetable-index .main {
    grid-column: 1/5;
    font-weight: bolder;
}

#page-report-attendancetable-index .section-cell {
    width: 120px !important;
    max-width: 120px !important;
    min-width: 120px !important;
}

#page-report-attendancetable-index .section-cell > div > span {
    white-space: normal !important;
    word-wrap: break-word !important;
}

#page-report-attendancetable-index .table-head {
    width: 160px !important;
    max-width: 160px !important;
    min-width: 160px !important;
}

#page-report-attendancetable-index .table-head > div > span {
    white-space: normal !important;
    word-wrap: break-word !important;
}
