#page-report-attendancetable-index .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*justify-items: center;*/
}

#page-report-attendancetable-index .grid > * {
    outline: 1px solid orange;
    text-align: center;
}

#page-report-attendancetable-index .main {
    grid-column: 1/5;
    font-weight: bolder;
}
